
<div class="footerContainer">

    <div class="row">
        
        <div class="col-4 elementInfo">
            <p>Progetto TETS e-commerce, questo servizio è ancora in
               fase di costruzione.
               Se volete scaricare il progetto, troverete qui sotto il
               link al progetto di GitHub.
            </p>
        </div>
        <!--
            <div class="col-4">
                
            </div>
            <div class="col-4">

            </div>
        -->
    </div>

    <div class="row bottomInfo">
        <!--
        <div class="col-5"></div>
        <div class="col-1"></div>
        <div class="col-1"></div>
        <div class="col-5"></div>
        -->
    </div>

</div>