.flex-column{
  border-radius: 5px;
}

.row{
  background-color: red;
}

.gianni {
    height: 70%;
    box-shadow: 1px 0px 5px 2px rgb(187, 187, 187);
    position: fixed;    
    width: 20%;
    z-index:1;
  }

  
.colorTesto {
    color: #343A40;
    text-align: center;
    font-size: medium;
  }

.show-menu-arrow{
  width: 60%;
}

  