details {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: .5em .5em 0;
}

summary {
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
}

details[open] {
    padding: .5em;
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: .5em;
}


.positionIcon{
  display: flex;
  justify-content: space-evenly;
  font-size: 15pt;
}

.cartPrincipale {

    color: red;
    font-size: 25px;
    position: absolute;
    z-index: 3;
  
  }
  
  .dropdown-menu {
    z-index: 2;
  }
  
  
  .cuorePrincipale label {
  
    color: aliceblue;
    font-size: 12pt;
    font-family: 'Archivo';
    font-weight: 900;
  
  }
  .textQuantity{
  
    font-size: 12pt;
    font-family: 'Archivo';
    font-weight: 900;
    
  }
  
  .textName{
    padding-left: 15px;
    padding-top: 5px;
    padding-right: 15px;
    font-size: 12pt;
    font-family: 'Roboto';
    font-weight: 900;
  }
  .textQta{
    padding-left: 15px;
    padding-top: 5px;
    padding-right: 15px;
    font-size: 12pt;
    font-family: 'Roboto';
    font-weight: 500;
  }
  .textPrice{
    padding-left: 15px;
    padding-top: 5px;
    padding-right: 15px;
    font-size: 12pt;
    font-family: 'Roboto';
    font-weight: 500;
  }
  
  .cuorePrincipale .colorLabel{
    color: black;
  }
  
  .cartContainer {
    position: relative;
    width: auto;
    height: auto;
    bottom: 20px;
  }
  
 
  .cart {

    color:grey;
    font-size: 12pt;
    font-family: 'Archivo';
    font-weight: 900;
    position: absolute;
    padding: 20px 20px 20px 20px;
    left: 0px;
    bottom: -10px;
    margin: 10px 10px 10px 10px;

  }

  .colorIconPlus{
   
    color: green;
  }

  .colorIconMinus{
    
    color: crimson;
  }

  .angle{
    
    position: absolute;
    border-top-left-radius: 10px;
    border-top-right-radius: 7px;
    -moz-transform: skew(-45deg);
    transform: (12px,30px);
    -webkit-transform: skew(-45deg);
    transform: translate(90px,-8px);
    background-color: white;
    height: 10px;
    width: 10px;
    box-shadow: 1px -7px 5px rgba(50, 50, 50, 0.7);
    z-index: 2;

  }
  
  .dropdown-body{
    border-radius: 10px 10px 10px 10px;
    height:80%;
    width: 200px;
    transform: translate(-80px,3px);
    background-color: white;
    /* border-style: solid; */
    box-shadow: 1px 0px 5px 2px rgb(12, 12, 12);
    border-color: black;
    font-size: 10pt;
    color:black;
    z-index: 3;
  }
  

  
  .plus-icon{
    color: black;
  
  }
  
  .minus-icon{
    color: black;
  }
  
  .remove-icon{
    color: darkgrey;
  }
  
  