
<div class="dropdown">
  
<label class="cart" *ngIf="cartService.getTotalItemsCart()">
  {{cartService.getTotalItemsCart()}}
</label>
<div class="dropdown-body" *ngFor="let item of cartService.items">
  <div class="angle">
  
  </div>
  <p class="textName"> {{item.product.name}} </p>
  <p class="textQta">Q.tà: {{item.quantity}} </p>
  <p class="textPrice">Prezzo: {{item.product.price | currency:'EUR'}}</p>
  
  <div class="positionIcon">
    <fa-icon class="colorIconPlus" 
    (click)="cartService.incrementItemQuantityInCart(item)" 
    [icon]="['fas', 'plus-circle']">
    </fa-icon>
    <fa-icon class="colorIconMinus" 
    (click)="cartService.decrementItemQuantityInCart(item)" 
    [icon]="['fas', 'minus-circle']">
    </fa-icon>
    <fa-icon class="dimIcon" 
    (click)="cartService.removeItemFromCart(item)" 
    [icon]="['fas', 'trash-alt']"></fa-icon>
  </div>
  
</div>
</div>