<div class="container">
  <div class="row">
    <div class="col-5 yellowBlock">
      <div class="row">
        <div class="col colTot">
          <img class="avatarDim" src="../../../../../assets/img/avatar.png" />
          <div class="row">
            <div class="col colDown">
              <h1 class="information">Let's get your set up</h1>
              <h2 class="desc">it should only take a couple of minutes to pair with your cart</h2>
            </div>
          </div>
        </div>
      </div>


    </div>
    <div class="col-7 whiteBlock ">
      <div class="container inputUser">
        <div class="row">
          <div class="col-6">
            <div class="row rowOption">
              <div class="col">
                <label class="">Name :</label>
              </div>
            </div>
            <div class="row rowOption">
              <div class="col">
                <label class="">Surname :</label>
              </div>
            </div>
            <div class="row rowOption">
              <div class="col">
                <label class="">Birthday :</label>
              </div>
            </div>
            <div class="row rowOption">
              <div class="col">
                <label class="">Email :</label>
              </div>
            </div>
            <div class="row rowOption">
              <div class="col">
                <label class="">Phone :</label>
              </div>
            </div>
            <div class="row rowOption">
              <div class="col">
                <label class="">Password :</label>
              </div>
            </div>
            <div class="row rowOption">
              <div class="col">
                <label class="">Conferma Password :</label>
              </div>
            </div>
          </div>
          <div class="col-6" >
            <div class="row rowInput">
              <div class="col">
                <input [(ngModel)]="registerUser.name" type="text" name="name" required>
              </div>
            </div>
            <div class="row rowInput">
              <div class="col">
                <input [(ngModel)]="registerUser.surname" type="text" required>
              </div>
            </div>
            <div class="row rowInput">
              <div class="col">
                <input [(ngModel)]="registerUser.birthdate" type="text" required />
              </div>
            </div>
            <div class="row rowInput">
              <div class="col">
                <input [(ngModel)]="registerUser.email" type="text" required />
              </div>
            </div>
            <div class="row rowInput">
              <div class="col">
                <input [(ngModel)]="registerUser.phone" type="text" class="infoUser" required />
              </div>
            </div>
            <div class="row rowInput">
              <div class="col">
                <input [(ngModel)]="confirmedPassword" [type]="show ? 'text' : 'password'" />
              </div>
            </div>
            <div class="row rowInput">
              <div class="col">
                <input [(ngModel)]="registerUser.password" [type]="show ? 'text' : 'password'" />
                <label>Show pass</label><input type="checkbox" (click)=passwordView() />
              </div>
            </div>
          </div>
          <div class="row maxWidth">
            <div class="col-2">
            </div>
            <div class="col-8">
              <input (click)=addUser() type="submit" class="styleButton" value="SEND" />
            </div>
            <div class="col-2">
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
