.navbar-dark {

  width: 100%;
  position: fixed;
  z-index: 1;
  top:0

}

.row.full-width {
  width: 100%;
  align-items: center;
}

.form-control {

  border-radius: 10px;

}



.wish {
  font-family: 'Roboto';
  font-weight: 900;
  color:grey;
  padding: 20px 20px 20px 20px;
  left: 0px;
  position: absolute;
  bottom: -10px;
  margin: 10px 10px 10px 10px;
    
  }

input[type="text"]::placeholder{
  font-family: 'Roboto';
  font-weight: 500;
  opacity: 70%;
}


.btn-outline-secondary {
  width: 50px;
  background-color: rgb(251, 167, 118);
  border-radius: 0px 10px 10px 0px;
}


.btn-outline-secondary {
  height: 38px;
  margin: -1px 0 0 0;
}

.cuorePrincipale {

  color: #FFC154;
  font-size: 25px;
  position: fixed;
  

}

.loginPrincipale {

  color: #FF9B61;
  font-size: 25px;
  position: absolute;
  

}


.cartPrincipale {

  color: #FF6154;
  font-size: 25px;
  position: absolute;
  z-index: 3;

}

.cartPrincipale label {

  color:grey;
  padding: 20px 20px 20px 20px;
  left: 0px;
  position: fixed;
  bottom: -10px;
  margin: 10px 10px 10px 10px;
  font-family: 'Roboto';
  font-weight: 900;

}

.cuorePrincipale label {

  color: grey;
  font-size: 12pt;
  font-family: 'Archivo Black';

}

.textQuantity{

  font-size: 12pt;
  font-family: 'Archivo Black';
  
}

.textInfo{
  padding-left: 15px;
  padding-top: 5px;
  
  font-size: 12pt;
  font-family: 'Archivo Bold';
}

.cuorePrincipale .colorLabel{
  color: black;
}

.cartContainer {
  position: relative;
  width: auto;
  height: auto;
  bottom: 20px;
}

.cuoreContainer {
  position: relative;
  width: auto;
  height: auto;
  bottom: 20px;
}

.loginContainer {
  position: relative;
  width: auto;
  height: auto;
  bottom: 20px;
}



.positionIcon{
  display: flex;
  justify-content: space-evenly;
  font-size: 15pt;
}

.plus-icon{
  color: black;

}

.minus-icon{
  color: black;
}

.remove-icon{
  color: darkgrey;
}


.wishlist-summary{
  display:none;
}

.cuoreContainer:hover .wishlist-summary{
  display:block;
}