  <style>
    @import url('https://fonts.googleapis.com/css?family=Archivo+Black&display=swap');

  </style>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <nav class="navbar navbar-dark bg-dark">
    <div class="row full-width">
      <div class="col-2">
        <img routerLink="/"src="assets/img/icon.png" width="50" height="50" class="d-inline-block align-top">
      </div>
      <div class="col-7">
        <div class="input-group mb-1">
          <input type="text" class="form-control" placeholder="Inserisci prodotto" [(ngModel)]="term"
            (ngModelChange)="emitTermUpdate($event)">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button">
              <fa-icon [icon]="['fas', 'search']"></fa-icon>
            </button>
          </div>
        </div> <!-- fine input group mb 1-->
      </div>
      <div class="col 2">
        <div class="cuorePrincipale">
          <div class="cuoreContainer">
            <fa-icon [icon]="['fas', 'heart']"></fa-icon>
            <fa-icon class="clickable" routerLink="/login" [icon]="['fas', 'user']"></fa-icon>
            <label class="wish" *ngIf="wishlistService.getTotalItems()">{{wishlistService.getTotalItems()}}</label>
          </div>
          
        </div>
      </div>
      <div class="col ">
        <div class="cartPrincipale">
          <div class="cartContainer">
            <div class="dropdown">
              <fa-icon [icon]="['fas', 'shopping-cart']" class=""></fa-icon>
              <label class="cart" *ngIf = "cartService.getTotalItemsCart()" >
                {{cartService.getTotalItemsCart()}}
              </label>
              <div class="dropdown-body" *ngFor ="let item of cartService.items"> 
               
                  <p class="textInfo"> {{item.product.name}}  </p>
                  <p class="textInfo">Q.tà: {{item.quantity}} </p>
                  <p class="textInfo">Prezzo: {{item.product.price}}</p>
                  
                  <div class="positionIcon"><fa-icon class="dimIcon" (click)="cartService.incrementItemQuantityInCart(item)"
                    [icon]="['fas', 'plus-square']"></fa-icon>
                    <fa-icon class="dimIcon" (click)="cartService.decrementItemQuantityInCart(item)" 
                    [icon]="['fas', 'minus-square']"></fa-icon>
                    <fa-icon class="dimIcon" (click)="cartService.removeItemFromCart(item)"
                    [icon]="['fas', 'trash']"></fa-icon></div>
                  
                
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
