.navbar-dark {

  width: 100%;
  position: fixed;
  z-index: 1;
  top:0

}

.row.full-width {
  width: 100%;
  align-items: center;
}

.form-control {

  border-radius: 10px;

}

.btn-outline-secondary {
  width: 50px;
  background-color: #ffc107;
  border-radius: 0px 0px 0px 0px;

}


.btn-outline-secondary {

  height: 40px;

}

.cuorePrincipale {

  color: red;
  font-size: 25px;
  position: absolute;
  

}


.cartPrincipale {

  color: red;
  font-size: 25px;
  position: absolute;
  z-index: 3;

}
/*
.dropdown-menu {
  z-index: 2;
}
*/
.cartPrincipale label {

  color: aliceblue;
  font-size: 12pt;
  font-family: 'Archivo Black';

}

.cuorePrincipale label {

  color: aliceblue;
  font-size: 12pt;
  font-family: 'Archivo Black';

}

.textQuantity{

  font-size: 12pt;
  font-family: 'Archivo Black';
  
}

.textInfo{
  padding-left: 15px;
  padding-top: 5px;
  
  font-size: 12pt;
  font-family: 'Archivo Bold';
}
/*
.cuorePrincipale .colorLabel{
  color: black;
}*/

.cartContainer {
  position: relative;
  width: auto;
  height: auto;
  bottom: 20px;
}

.loginContainer {
  position: relative;
  width: auto;
  height: auto;
  bottom: 20px;
}
/*
.wish {
  position: absolute;
  right: 20;
  font-size: 25px;
  z-index: 3;
}
/*
.cart {
  position: fixed;
  right: 20;
}

.dropdown-body{
  display: none;
  height:80%;
  width: 100%;
  background-color: white;
  border-style: solid;
  border-color: black;
  font-size: 10pt;
  color:black;
}*/

.colorItem{
  color:black;
}
/*
.dropdown:hover .dropdown-body{
  display: block;
}*/

.positionIcon{
  display: flex;
  justify-content: space-evenly;
  font-size: 15pt;
}

.plus-icon{
  color: black;

}

.minus-icon{
  color: black;
}

.remove-icon{
  color: darkgrey;
}