  <style>
    @import url('https://fonts.googleapis.com/css?family=Archivo+Black&display=swap');

  </style>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <nav class="navbar navbar-dark bg-light">
    <div class="row full-width">
      <div class="col-2">
        <img routerLink="/"src="assets/img/icon.png" width="50" height="50" class="d-inline-block align-top clickable">
      </div>
      <div class="col-7">
        <form (ngSubmit)="search()">
        <div class="input-group mb-1">
          <input 
              type="text" 
              class="form-control" 
              name="seachTerm"
              placeholder="Inserisci prodotto" 
              [(ngModel)]="term">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" 
                (click)="search()"
                type="button"><fa-icon [icon]="['fas', 'search']"></fa-icon>
            </button>
          </div>
        </div> <!-- fine input group mb 1-->
      </form>
      </div>
      <div class="col 1">
        <div class="cuorePrincipale">
          <div class="cuoreContainer">
            <fa-icon class="clickable" routerLink="/wishlist-comp" [icon]="['fas', 'heart']">
            </fa-icon>
             <app-summary-wishlist-comp></app-summary-wishlist-comp>    
          </div>
        </div>
      </div>
      <div class="col 1">
        <!-- si chiama cuore ma è riferito al login-->
        <div class="loginPrincipale">
          <div class="loginContainer">
           <fa-icon class="clickable" routerLink="/login" [icon]="['fas', 'user']"></fa-icon>
          </div>
        </div>
      </div>
      <div class="col ">
        <div class="cartPrincipale">
          <div class="cartContainer">  
            
            <fa-icon [icon]="['fas', 'shopping-cart']" class="clickable" routerLink="/shopping-cart-comp"></fa-icon>
            <app-summary-list-comp>
            </app-summary-list-comp>

             </div> <!-- cartcontainer-->
            </div> <!-- cartprincipale-->
      </div>
    </div>
  </nav>
