<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    
    <!-- Icon -->
    <div class="fadeIn first">
        <img routerLink="/"src="assets/img/icon.png" width="50" height="50" class="d-inline-block align-top">
    </div>

    <!-- Login Form -->
    <form (ngSubmit)="login()">
      <input [(ngModel)]="loginUser.email" type="email" id="login" class="fadeIn second" name="login" placeholder="login" [email]='true'>
      <input [(ngModel)]="loginUser.password" type="password" id="password" class="fadeIn third" name="password" placeholder="password">
      
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>
    
    <!-- Remind Passowrd -->
    <div id="formFooter">
      <p routerLink="/register" class="clickable">Non sei ancora registrato?</p>
      <p class="linkColor clickable" href="#">Forgot Password?</p>
    </div>

  </div>
</div>
