.flex-column{
  border-radius: 5px;
}

.row{
  background-color: red;
}

.shad-box {
    height: 65%;
    box-shadow: 1px 0px 5px 2px rgb(187, 187, 187);
    position: fixed;    
    width: 20%;
    z-index:1;
    padding: 0 10px;
  }

  
.colorTesto {
    color: #343A40;
    font-family: 'Roboto';
    font-weight: 200;
    text-align: center;
    font-size: medium;
  }

   
.colorTestoOrder {
  color: #343A40;
  font-family: 'Roboto';
  font-weight: 800;
  text-align: center;
  font-size: medium;
}

.show-menu-arrow{
  width: 60%;
}

  