.dropdown-body{
    display: none;
    height:80%;
    width: 100%;
    background-color: white;
    border-style: solid;
    border-color: black;
    font-size: 10pt;
    color:black;
  }
.dropdown:hover .dropdown-body{
    display: block;
  }

  .textName{
      padding-left: 15px;
      padding-top: 5px;
      padding-right: 15px;
      font-size: 12pt;
      font-family: 'Roboto Black';
    
  }

  .dropdown-body{
    display: none;
    border-radius: 10px 10px 10px 10px;
    height:80%;
    width: 200px;
    transform: translate(-80px,3px);
    background-color: white;
    /* border-style: solid; */
    box-shadow: 1px 0px 5px 2px rgb(12, 12, 12);
    border-color: black;
    font-size: 10pt;
    color:black;
    z-index: 3;
  }
  
.dropdown-menu {
    z-index: 2;
  }  

.positionIcon{
  display: flex;
  justify-content: space-evenly;
  font-size: 15pt;
  margin-bottom: 15px;
}
.wish {
  color:grey;
  padding: 20px 20px 20px 20px;
  left: 0px;
  position: absolute;
  bottom: -10px;
  margin: 10px 10px 10px 10px;
    
  }
.cuorePrincipale .colorLabel{
    color: black;
  }

  .cuoreContainer {
    position: relative;
    width: auto;
    height: auto;
    bottom: 20px;
  }
  
.cuorePrincipale .colorLabel{
  color: black;
}
.cuorePrincipale label {

  color: grey;
  font-size: 12pt;
  font-family: 'Archivo Black';

}