/* You can add global styles to this file, and also import other style files */

html {
    font-family: 'Roboto' ;
}

  
body {
    padding-top: 65px;
}

.clickable{
    cursor: pointer;
}



/* width */
::-webkit-scrollbar {
    width: 20px;
    
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #ffffff00; 
    
}
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius: 30px;
    background: rgb(250,186,60);
    background: linear-gradient(90deg, rgba(250,186,60,1) 0%, rgba(248,131,78,1) 60%, rgba(237,67,78,1) 100%);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(250,186,60);
    opacity: 60%;
    background: linear-gradient(0deg, rgba(250,186,60,1) 0%, rgba(248,131,78,1) 60%, rgba(237,67,78,1) 100%);
  }