/* You can add global styles to this file, and also import other style files */

html {
    font-family: "Lucida Sans", sans-serif;
}
  
body {
    padding-top: 65px;
}

.clickable{
    cursor: pointer;
}