/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto:100i,300,300i,400,400i,700,700i,900,900i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Archivo:100i,300,300i,400,400i,700,700i,900,900i&display=swap');
html{
    font-family: 'Roboto' ;
}

  
body {
    padding-top: 65px;
}

.clickable{
    cursor: pointer;
}



/* width */
::-webkit-scrollbar {
    width: 20px;
    
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #ffffff00; 
    
}
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius: 30px;
    background: rgb(250,186,60);
    background: linear-gradient(90deg, rgba(250,186,60,1) 0%, rgba(248,131,78,1) 60%, rgba(237,67,78,1) 100%);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(250,186,60);
    opacity: 60%;
    background: linear-gradient(0deg, rgba(250,186,60,1) 0%, rgba(248,131,78,1) 60%, rgba(237,67,78,1) 100%);
  }

  app-header-comp, app-footer-comp{
    display: block;
  }

  .container-fluid{
    min-height: calc( 100vh - 65px - 165px)
  }

  input.ng-invalid.ng-touched{
    border: 1px solid red;
  }

  /* ---|    MODAL    |---*/

.modal.show {
  display: flex;
  display: -ms-flexbox;
}

.modal {
  background-color: rgba(0, 0, 0, 0.2);
  align-items: center;
}

.modal-content {
  border-radius: 2px;
  border: 0;
  padding: 20px;
  animation: fadeZoomIn 0.2s;
}

.messages .modal-content {
  padding: 0;
}

.modal.operative .modal-dialog,
.modal.navigation .modal-dialog {
  max-width: 1366px;
  min-width: 1200px;
  width: 90%;
}

.modal.loading .modal-dialog{
  width: 60px;
  text-align: center;
}