<div class="row">
    <div class="col-3">
      <!-- nav bar cancellata si trovava qui-->
      <app-navbar-comp
      (sortUpdate)="orderBy($event)"
      [sortOptions] = "sortOptions" 
      ></app-navbar-comp>
      
    </div>
    <div class="col-9">
      <div class="row">
        <!--Oggetti di immagini-->
        <ng-container class="immaginiDimensione" *ngFor="let list of getFilteredProducts() ">
          <div class="col-4 product-thumbnail"> <!-- farlo diventare un component-->
            <div class="img-wrap" [ngStyle]="{ backgroundImage:'url(' + list.url + ')'}"></div>
            <div class="favorite-button clickable" 
              [ngClass]="{'added' : wishlistService.isItemInWishlist(list)}"
              (click)="wishlistService.toogleItemInWishlist(list)">
              <!-- Controllare quantity al posto di event-->
              <fa-icon [icon]="['fas', 'heart']" ></fa-icon>
            </div> 
            <p>{{list.name}}</p>
            <p class="descrizione dimDescr">{{list.description}}</p>
            <p>{{list.price | currency:'EUR' }} </p>
            <button type="button" class="btn btn-warning"
            (click)="cartService.addItemsToCart(1,list,list.price)"
            >Acquista</button>
          </div>
        </ng-container>

      </div>
    </div>
  </div>