<div class="product-thumbnail">
    <div class="img-wrap" [ngStyle]="{ backgroundImage:'url(' + inputProduct.url + ')'}"></div>
    <div class="favorite-button clickable" 
      [ngClass]="{'added' : wishlistService.isItemInWishlist(inputProduct)}"
      (click)="wishlistService.toogleItemInWishlist(inputProduct)">
      <!-- Controllare quantity al posto di event-->
      <fa-icon [icon]="['fas', 'heart']" ></fa-icon>
    </div> 
    <p class="titleProduct">{{inputProduct.name}}</p>
    <p class="descProduct">{{inputProduct.description}}</p>

    <p class="priceProduct" *ngIf="inputProduct.discountPrice">
      {{inputProduct.discountPrice | currency:'EUR' }}
      <del>{{inputProduct.price | currency:'EUR' }} </del>
     </p>
    <p class="priceProduct" *ngIf="!inputProduct.discountPrice">
      {{inputProduct.price | currency:'EUR' }} </p>
    <button type="button" class="btn btn-warning priceProductButton"
    (click)="cartService.insertIntoCart(4, inputProduct.productID)"
    >ADD TO CART</button>
</div>